.post-cards {
  font-family: "Crimson Text";
  width: 90vw;
  padding: 50px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cards {
  font-family: "Crimson Text";
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}



@media (max-width: 500px) {
  .post-cards {
      width: 90vw;
      padding: 20px;
      margin: 0px;
  }
  .cards {
      margin: 0 -20px;
  }
}