
.sort-container {
  font-family: "Crimson Text";
  /* border: dotted; */
  display: flex;
  /* width: 83.5vw; */
  justify-content: flex-end;
  align-content: center;
  margin: 15px;
}

label {
  font-size: 18px;
  font-family: "Crimson Text";
  font-weight: bold;
  padding-right: 10px;
}



@media (max-width: 500px) {
  .products {
      width: 100%;
      justify-content: space-around;
  }
  .sort-container {
      width: 100%;
      justify-content: center;
      margin: 0px;
  }
}